@model Deneme1.Models.TableKayit
<script src="~/js/Update.js"></script>


<meta name="viewport" content="width=device-width,initial-scale = 1" />
<body>
    <div class="container" />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">


            <form action="">

                <h1>Güncelleme Formu </h1>
                               

                <br /><br />
                <div class = "form-group">
                <label for="isim">İsim :</label>
                <input id = "isim" class="form-control" type="text" name="isim" placeholder="isminizi giriniz." required=""/></div>
                <br />
                <div class = "form-group">
                <label for="soyisim">Soy İsim :</label>
                    <input id = "soyisim" class="form-control" type="text" name="soyisim" placeholder="Soy isminizi giriniz." required=""  />
                </div> <br />
                <div class = "form-group">
                <label for="kayıtTarihi">Kayıt tarihi :</label> 
                    <input id = "kayıtTarihi" class="form-control" type="date" name="kayıtTarihi" placeholder="Kayıt tarihini giriniz." required="" />
                </div> <br /> 
                <div class = "form-group">
                <label for="adres">Adres :</label> 
                    <input id = "adres" class="form-control" type="text" name="adres" placeholder="Adresinizi giriniz." required="" />
                </div> <br />
                <div class = "form-group">
                <label for="drdCinsiyet">Cinsiyet : </label>
                       
                 <select id="drdCinsiyet" class="form-select form-control">

                 </select>

                </div>
                <br />
                <div class = "form-group">
                <label for="drdCografya">Ülke : </label>
                 <select id="drdCografya" class="form-select form-control" onchange="SehirGetir()">
                 </select> 
                </div>
                <br />
                <div class = "form-group">
                <label for="drdSehir">Şehir : </label>
                 <select id="drdSehir" class="form-select form-control">
                 </select>
                </div>
                <div class="Media">
                        <label class="control-label">Medya:</label>
                        <div class="row" id="aa_imgFile">
                            <img src="" id="a_imgFile" width="30" height="100" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input type="file" name="iFormFile" id="imgFile" mediaId="" onchange="MedyaOlustur(this.id)" accept="image/*" />

                        </div>
                    </div>
                    <div id="okulTekrarliRow" class="deneme">


                </div>

                <br /><br />

               
               <input id="güncelle" type="button" value="Güncelle" onclick="KayıtGuncelle()" class="btn btn-light" /> 



            </form>
        </div>
        <div class="col-md-3"></div>
    </div>   
    

</body>

