@{
    ViewData["Title"] = "Ana Sayfa";
}

<html>
    <head>
        <meta charset="utf-8">
        <meta name ="viewport" content = "width=device-width, initial-scale = 1 "/>

    </head>
    <body class = "bg-dark text-white">
        <div class="row">
             <div class="col-md-12" style = "margin-left : 15px">
                 <img src = "~/lib/img/adsiz1.jpeg"  style = "width:97.3%; height:250" alt = xd/>
                 </div>
                 </div>
       
       <div class=" container" />
  <div class="row">
    <div class="col-md-4">
     
      <img src = "~/lib/img/adsiz2.jpeg"  style = "width:100%; height : 300" alt = xd1 />
      <br /> <br />
      <div style="text-align: justify;">Bu süreçte bir yandan bant gurubu ürünleriyle ilgili çalışmalarını 
          da devam ettiren Koruband Laminasyon Ambalaj Ltd. Şti., gerekli makine yatırımlarını tamamlanmasının ardından Çift
          Taraflı Endüstriyel Bantlar konusunda faaliyetlerini tekrar hızlandırmıştır.Bu süreçte bir yandan bant gurubu 
          ürünleriyle ilgili çalışmalarını da devam ettiren Koruband Laminasyon Ambalaj Ltd. Şti., gerekli makine yatırımlarını
          tamamlanmasının ardından Çift Taraflı Endüstriyel Bantlar konusunda faaliyetlerini tekrar hızlandırmıştır.Bu süreçte
          bir yandan bant gurubu ürünleriyle ilgili çalışmalarını da devam ettiren Koruband Laminasyon Ambalaj Ltd. Şti., gerekli
          makine yatırımlarını tamamlanmasının ardından Çift Taraflı Endüstriyel Bantlar konusunda faaliyetlerini tekrar
          hızlandırmıştır.Bu süreçte bir yandan bant gurubu ürünleriyle ilgili çalışmalarını da devam ettirmektedir.</div>
<pre lang="html"> </pre>

    </div>
    <div class="col-md-8">
       
        <div class="row">
       <div class="col-md-6">
     
    <div style="text-align: justify;">2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Ltd. Şti. Türkiye'nin medikal 
        bant üreticisidir.2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Şti. Bugün</div>
<pre lang="html"></pre>
    </div>
    <div class="col-md-6">
     
      <div style="text-align: justify;">2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Ltd. Şti. Türkiye'nin medikal
          bant üreticisidir.2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Şti. Bugün</div>
<pre lang="html"></pre>
    </div>
    </div>
     <img src = "~/lib/img/adsiz1.jpeg" style = "width : 100%;  height :210px "  alt = xdd />
       <br /> <br />
     <img src = "~/lib/img/adsiz1.jpeg" style = "width : 100%; height : 230px"  alt = xddd />
      <div class="row">
       <div class="col-md-6"  >
     
    <div style="text-align: justify;">2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Ltd. Şti. Türkiye'nin medikal
        bant üreticisidir.2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Şti. Bugün </div>
<pre lang="html"></pre>
    </div>
    <div class="col-md-6 ml-md" >
     
     <div style="text-align: justify;">2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Ltd. Şti. Türkiye'nin medikal
         bant üreticisidir.2005 yılında kurulmuş olan Koruband Laminasyon Ambalaj Şti. Bugün </div>
<pre lang="html"></pre>
    </div>
    </div>
    <img src = "~/lib/img/adsiz1.jpeg" style = "width : 100%; height : 130px" alt = xddddd />
  
  </div>
</div>

    </body>
</html>